.notFound-container {
  display: grid;
  place-items: center;

  h1 {
    margin-bottom: 2rem;
  }

  a {
    padding: 0.4em 0.8em;
    background-color: rgba(82, 159, 231, 0.8);
    width: max-content;
    border-radius: 0.5em;
    transition: background-color 0.15s ease-in-out;

    &:hover {
      background-color: rgba(82, 159, 231, 1);
    }
  }
}
